
.nav {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    
    padding: 10px 0;
    z-index: 100;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .navbar-brand{
    color: #e50914;
    text-decoration: none;
  }
  .nav-logo {
    font-size: 24px;
    color: white; 
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #e50914;
  }
  .button_nav {
    background-color: rgb(172, 103, 236);
    border: none;
    border-radius: 50px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
navbar__avatar {
  max-width: 50px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.navbar__avatar:hover {
  transform: scale(1.1);
}
  
  
